/* ==========================================================================
   Base
   ========================================================================== */

body { }



/* =============================================================================
   Header
   ========================================================================== */

.banner { }
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
	margin-top: 0;
}
.page-header, .lead {
	color: #5a5a5a;
}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
	margin-top: 2em;
}



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
	margin-top: 2em;
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry {
	position: relative;
}
.hentry header { }
.blog .hentry .entry-title,
.archive .hentry .entry-title {
	font-size: 2em;
}
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }
.hentry .entry-meta {
	margin: 0 0 1em;
}
.hentry .entry-meta a {
	color: #A5A5A5;
}
.hentry .entry-meta a:hover {
	color: #A5A5A5;
}


/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}
